body {
    background-color:red;
}
.clock{
    border:5px solid black;
    position:absolute;
    border-radius:200px;
    width:200px;
    height:200px;
    margin-left:78px;
   align-items:center;
   display:flex;
   justify-content:center; background:url("https://www.dropbox.com/s/vc004vma6zr6lyd/IMG_20201003_164720.jpg?dl=1");
    background-size:cover;
    transform:rotate(deg);
}
.h1,.m1,.s1{
    align-items:center;
   display:flex;
   justify-content:center;
}
.h1{
    width:50px;
    border:2px solid red;
    border-radius:5px;
    margin-left:0px;
    margin-top:0px;
    position:absolute;
}
.hour{
    border:2px solid black;
    position:absolute;
    width:5px;
    height:5px;
    border-radius:5px;
    margin-left:-2px;
    margin-top:0px;
}
.min{
   border:2px solid blue;
    position:absolute;
    width:5px;
    height:5px;
    border-radius:5px;
    margin-left:-2px;
    margin-top:-1.3px; 
}
.m1{
     width:60px;
    border:2px solid blue;
    border-radius:4px;
    margin-left:4px;
    margin-top:1.3px;
    position:absolute;
}
.sec{
    border:3px solid green;
    position:absolute;
    background-color:red;
    width:5px;
    height:5px;
    border-radius:5px;
    margin-left:-2px; 
    margin-top:-1.3px;
}
.s1{
     width:75px;
    border:1.9px solid green;
    background-color:green;
    border-radius:3px;
    margin-left:0px;
    margin-top:1.3px;
    position:absolute;
}
.fix{
    transform:rotate(-90deg);
    margin-top:100px;
    margin-left:-190px;
}